@font-face {
    font-family: 'Robotto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
         font-weight: 400;
}